* {
    background-color: ;
}



.slider {
    max-width: 550px;
    margin: auto;
    position: relative;

    & img {
        max-width: 100%;
    }

    & img:not(.active) {
        display: none;
    }

    .controls {
        height: 100%;
        position: absolute;
        left: 40%;
        top:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & button {
            background-color: white;
        }

        }
    }
