*{
    background-color:bisque;
}

.slider{
    padding-top: 5rem;
    max-width: 550px;
    margin: auto;

    & img {
        max-width: 100%;
    }

    .controls{
        display: flex;
        justify-content: space-between;

        & button {
            background-color: beige;
        }
    }
}