.slider {
    width: 450px;
    height: 300px;
    margin: auto;
    position: relative;

    & img {
        max-width: 450px;
        max-height: 330px;

    }

    & img:not(.active) {
        display: none;
    }

    .slides{
        text-align: center;
    }

    .sub_box {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        z-index: 1;
        height: 330px;

        & .mini_box {

            height: 20%;
            display: block;
            opacity: 0.9;
        }
    }

    .controls {
        height: 100%;
        position: absolute;
        left: 40%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & button {
            background-color: white;
        }

    }
}